body {
    background-color: #f76cd3;
    margin: 0;
    overflow: hidden;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.title {
    overflow: hidden;

    margin: auto;
    width: 100%;
    height: 100%;
    min-width: 200px;

    display: table;
    position: absolute;
}

.title .svg path {
    fill: #fbff3d;
}

.title .rotator {
    display: inline-block;
    height: auto;

    position: absolute;
    margin: auto;
    top: 0; bottom: 0;
    left: 0; right: 0;
}

.svg {
    width: 100%;
    height: 100%;

    opacity: 0;

    -webkit-transition: opacity 1s cubic-bezier(.25,.46,.45,.94);
    -moz-transition: opacity 1s cubic-bezier(.25,.46,.45,.94);
    -ms-transition: opacity 1s cubic-bezier(.25,.46,.45,.94);
    -o-transition: opacity 1s cubic-bezier(.25,.46,.45,.94);
    transition: opacity 1s cubic-bezier(.25,.46,.45,.94);
}

.title .svg.horizontal {
    display: inline-block;
}

.title .svg.vertical {
    display: none;
}

@media (max-aspect-ratio: 5/6){
    .title .svg.horizontal {
        display: none;
    }

    .title .svg.vertical {
        display: inline-block;
    }
}

.title .svg.replaced-svg.loaded {
    opacity: 1;
}

.overlay {
    z-index: 1;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;

    width: 100%;
    height: 100%;

    opacity: 0;

    -webkit-transition: opacity 1s cubic-bezier(.25,.46,.45,.94);
    -moz-transition: opacity 1s cubic-bezier(.25,.46,.45,.94);
    -ms-transition: opacity 1s cubic-bezier(.25,.46,.45,.94);
    -o-transition: opacity 1s cubic-bezier(.25,.46,.45,.94);
    transition: opacity 1s cubic-bezier(.25,.46,.45,.94);

    background-color: rgba(0,0,0,0.1);
    opacity: 0;
}

.overlay.loaded {
    opacity: 1;
}

.overlay .menu {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 5px white;
    text-align: center;
    text-transform: uppercase;

    width: 80%;
    min-width: 260px;
    max-width: 800px;
    height: auto;
    margin: 20vh auto 0 auto;
    padding: 20px;
    left: 0; right: 0;

    background-color: rgba(255,255,255,0.7);
    border-radius: 20px;

    opacity: 1;
    transform: translateY(-30%);

    -webkit-transition: opacity 500ms cubic-bezier(.25,.46,.45,.94);
    -moz-transition: opacity 500ms cubic-bezier(.25,.46,.45,.94);
    -ms-transition: opacity 500ms cubic-bezier(.25,.46,.45,.94);
    -o-transition: opacity 500ms cubic-bezier(.25,.46,.45,.94);
    transition: opacity 500ms cubic-bezier(.25,.46,.45,.94);

    -webkit-transition: transform 800ms cubic-bezier(.25,.46,.45,.94);
    -moz-transition: transform 800ms cubic-bezier(.25,.46,.45,.94);
    -ms-transition: transform 800ms cubic-bezier(.25,.46,.45,.94);
    -o-transition: transform 800ms cubic-bezier(.25,.46,.45,.94);
    transition: transform 800ms cubic-bezier(.25,.46,.45,.94);
}
.overlay.loaded .menu {
    transform: translateY(0);
}

.overlay .menu span {
    display: block;
}

.overlay .menu a {
    font-weight: bold;
    color: black;
    transition: 0.3s;

    text-transform: uppercase;
}

.overlay .menu a.secondary {
    color: black;
    font-weight: 400;
    text-transform: none;
}

.overlay .menu a:hover {
    color: grey;
}

.overlay.loaded .menu {
    opacity: 1;
}

.overlay .menu .menu-bg {
    opacity: 0.3;
    border-radius: 5px;
    background-color: black;
}