<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% title %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#9f00a7">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
<script src="/static/js/lib/jquery.min.js"></script>
<script src="/static/js/lib/helper.js"></script>

<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<div class="title">
    <div class="rotator">
        <img src="/static/images/title.svg" class="svg horizontal">
        <img src="/static/images/title-vert.svg" class="svg vertical">
    </div>
</div>

<div class="overlay">
    <h1 class="sr-only">Stuff No One Asked For</h1>

    <div class="menu">
        <h2>Experiments</h2>
        <span><a href="/opa">One Page App</a> [<a href="https://gitlab.com/snoaf-web-modules/one-page-app" class="secondary">src</a>]</span>
        <span><a href="/msg-stories">Msg Story</a> [<a href="https://gitlab.com/snoaf-web-modules/msg-stories" class="secondary">src</a>]</span>
        <span><a href="/comic-cards">Comic Cards</a> [<a href="https://gitlab.com/snoaf-web-modules/comic-cards" class="secondary">src</a>]</span>
        <h2>Work Examples</h2>
        <span><a href="http://alphalab.principals.com.au/">Principals - AlphaLab</a></span>
        <span><a href="https://www.davidjones.com/art-of-living">David Jones - The Art Of Series</a></span>
        <h2>Inquiries</h2>
        <!--<a href="/about">About</a>-->
        <a href="mailto:contact@snoaf.com">Contact</a>
    </div>

</div>


<script src="/static/js/lib/svg-converter.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>